<div>
<h1>
    <span id="site-logo" title="Business Travels" href="#" target="_self" >
        <img src="/images/Network.jpg" alt="Business Travels" width="100px" height="100px" />
        <a style="height:80px">
            NetCLOUD
        </a>
    </span>
</h1>	
	
</div>

<div>
	<h3>
	<ul class="nav nav-pills nav-stacked">
		<li style="list-style-image: url(/images/airport.png);">
			<%= link_to t('business_module_name') , SUBURI + "/biz_travels" %>
		</li>
		<li><%= link_to t('warehouse_module_name'), SUBURI + "/view_handler?index=1&url=#{sys_logs_path}" %></li>
		<li><%= link_to t('inventories_module_name'), SUBURI + "/view_handler?index=1&url=#{sys_logs_path}" %></li>
	</ul>
	</h3>
</div>
